.footer-container {
    background-color: var(--purple);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 90%;
    transform: skewY(12deg);
    min-height: 30vw;
    max-width: 40%;
    margin-left: 55%;
    display: flex;
    margin-top: -15%;
    z-index: 0;
    margin-bottom: 2%;
}

.text-container {
    transform: skewY(-12deg); /*unskew*/
    align-self: flex-end; /*move text to bottom*/
}
