 .search-result-container {
    padding: 0;
    width: 60%;
    margin-left: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10%;
    border-radius: 10px 0px 10px 10px;
    z-index: 1;
    position: relative;
}

.text {
    padding-left: 5%;
}

div.text > p { /*to not crowd all paragraphs on search results*/
    line-height: 150%;

}

.search-result-img {
    width: calc(100px + 5vw);
    height: auto;
    border-radius: 10px;
}

.tab-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    column-gap: 1%;
    padding: 0;
    margin-left: 20%;
    margin-bottom: 0;
}

.tab {
    padding: 2px;
    border: 2px solid white;
    font-size: calc(8px + 1vw);
    color: var(--darkgray);
    background-color: white;
    border-radius: 5px 5px 0 0;
    list-style: none;
}

.tab:hover {
    cursor: pointer;
    background: white;
}

.react-tabs__tab--selected {
    color: var(--almostblack);
    border-color: white;
    border-bottom: 1px solid var(--almostblack);
  }