 .search-result-container {
    padding: 0;
    width: 60%;
    margin-left: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    column-gap: 10%;
    border-radius: 10px 0px 10px 10px;
}

.left-col {
    padding-left: 3%;
}

.search-result-img {
    width: calc(100px + 5vw);
    height: auto;
}

.tab-list {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    column-gap: 1%;
}

.tab {
    padding: 2px;
    border: 2px solid white;
    font-size: calc(8px + 1vw);
    color: var(--darkgray);
    background-color: white;
    border-radius: 5px 5px 0 0;
}

.tab:hover {
    cursor: pointer;
    background: white;
}

.react-tabs__tab--selected {
    color: var(--almostblack);
    border-color: white;
    border-bottom: 1px solid var(--almostblack);
  }