.App {
    display: flex;
    flex-direction: column;
    gap: 10vw;
    background-color: var(--background);
    /*background-image: url("imgs/confetti.png");*/
}

#results {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding-bottom: 20vw;
}