.Home {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    background-color: var(--background);
    /*background-image: url("imgs/first.png");*/
}

#results {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

@media only screen and (min-width: 1200px) {
   

}